{% extends "base_templates/base.html" %}

{% block main %}
<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Indie+Flower|Dosis:600|Quicksand|Karla|Architects+Daughter|Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
<div class ="twtr"> #TWTR</div>
<div class="map"></div>
<div class="header"><span data-bind="text: cityName"></span></div>
<div class="body">
  <div class="row">
    <div class="col-md-5 top10">
      <div class = "section_title ">Hottest 10 Topics </div>
      <div class="" data-bind="foreach: trends">
        <a STYLE="text-decoration:none" class="topic_title medium-12 hvr-float hvr-fade" href="#" data-bind='click: $parent.showTweets.bind($data, $data.query)'>
          <span data-bind="text: $data.name"> </span>
          <br>
          <div class="population">
            <span data-bind="text: $data.tweet_volume"> </span>
          </div>
          <div data-bind="foreach: new Array($data.tweet_volume_scaled)">
            <div style="text-decoration:none" class="fa fa-male population">
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-7 all-tweets">
      <div class="happy-tweets"></div>
      <div class="sad-tweets"></div>
    </div>
  </div>    
</div>
{% endblock %}