body {
  background-color: #62c2cc;
  min-height: 100%;
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

svg {
  display: block;
  margin:auto;
}

.header {
  background-color: #E5F4F7;
  width: 400px;
  font-size: 35px;
  padding: 25px;
}

.tweets {
  background-color: #F6F6FF;
  width: 100%;
}

.twtr{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 30px;
    color: black;
    text-align: center;
    
}

.top10{
    background-color: #F7F7F7;
    
}